* {
	padding: 5px;
}

ul {
 list-style: none;
}

#wrapper {
	margin: 10%;
	border: 2px solid #ccc;
	background-color: white;
	text-align: center;
}
body {
	background-color: lightblue;
}

#buttonDiv {
	margin-left: 45%;
}